## Deliverable 3. Create a Travel Itinerary Map.

In [11]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [12]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head(10)

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,4,Vaini,TO,75.36,light rain,-21.2000,-175.2000,Keleti Beach Resort
1,6,Rikitea,PF,78.44,light rain,-23.1203,-134.9692,People ThankYou
2,12,Presidencia Roque Saenz Pena,AR,70.66,light rain,-26.7852,-60.4388,Hotel Gualok
3,17,Bambous Virieux,MU,80.22,light rain,-20.3428,57.7575,Casa Tia Villa
4,19,Carnarvon,AU,75.27,broken clouds,-24.8667,113.6333,Hospitality Carnarvon
5,20,Bujaru,BR,77.02,light rain,-1.5150,-48.0447,Hotel & Restaurante Beira Rio
6,27,Puerto Ayora,EC,82.36,broken clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
7,43,Sinnamary,GF,76.26,overcast clouds,5.3833,-52.9500,ALETHEIA Appartement Sinnamary
8,49,Avarua,CK,84.25,few clouds,-21.2078,-159.7750,Paradise Inn
9,52,Isangel,VU,77.11,light rain,-19.5500,169.2667,Tanna Lodge

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp}Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities.
# List all countries
country = vacation_df["Country"].unique()
country

array(['TO', 'PF', 'AR', 'MU', 'AU', 'BR', 'EC', 'GF', 'CK', 'VU', 'US',
       'SO', 'PH', 'ID', 'MV', 'GA', 'RE', 'KI', 'CV', 'KH', 'LR', 'MX',
       'CM', 'DO', 'LK', 'NC', 'SL', 'IN', 'MY', 'CL', 'PG', 'ZA', 'OM',
       'SS', 'UY', 'GH', 'AI', 'PR', 'BS', 'CO', 'BB', 'VN', 'VE', 'MG',
       'BO', 'MZ', 'BZ', 'CI', 'GW', 'PE', 'CU', 'KE', 'NZ', 'BW', 'TZ',
       'SB', 'AO', 'NG', 'IR', 'JM', 'SN'], dtype=object)

In [14]:
# List all cities in selected country - Austrilia
cities_au = vacation_df.loc[vacation_df["Country"] == "AU"]
cities_au

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
4,19,Carnarvon,AU,75.27,broken clouds,-24.8667,113.6333,Hospitality Carnarvon
31,132,Karratha,AU,84.04,overcast clouds,-20.7377,116.8463,ibis Styles Karratha
51,181,Ballina,AU,71.56,broken clouds,-28.8667,153.5667,Ramada Hotel & Suites by Wyndham Ballina Byron
54,185,Geraldton,AU,70.21,clear sky,-28.7667,114.6000,Broadwater Mariner Resort
64,223,Charters Towers,AU,75.15,broken clouds,-20.1000,146.2667,Cattleman's Rest Motor Inn
66,226,Sydney,AU,71.35,broken clouds,-33.8679,151.2073,The Grace Sydney
84,272,Port Hedland,AU,84.25,overcast clouds,-20.3167,118.5667,The Esplanade Hotel (Accommodation section clo...
127,394,Clarence Town,AU,71.85,broken clouds,-32.5833,151.7833,River Downs Cottage
136,428,Nhulunbuy,AU,81.21,overcast clouds,-12.2333,136.7667,East Arnhem Real Estate
157,500,Katherine,AU,77.32,overcast clouds,-14.4667,132.2667,Pine Tree Motel
167,533,Gladstone,AU,76.93,scattered clouds,-23.8500,151.2500,Highpoint International Hotel

In [15]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "Sydney"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Sydney"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Ballina"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Katherine"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Geraldton"]

In [16]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0]
print(f'Start: {start}, End: {end}')

stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]
print(f'Stop 1: {stop1}, Stop 2: {stop2}, Stop 3: {stop3}')

Start: (-33.8679, 151.2073), End: (-33.8679, 151.2073)
Stop 1: (-28.8667, 153.5667), Stop 2: (-14.4667, 132.2667), Stop 3: (-28.7667, 114.6)

In [19]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
vacation_route = gmaps.directions_layer (start, end, waypoints=[stop1, stop2, stop3], travel_mode="DRIVING")
fig.add_layer(vacation_route)
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,226,Sydney,AU,71.35,broken clouds,-33.8679,151.2073,The Grace Sydney
1,181,Ballina,AU,71.56,broken clouds,-28.8667,153.5667,Ramada Hotel & Suites by Wyndham Ballina Byron
2,500,Katherine,AU,77.32,overcast clouds,-14.4667,132.2667,Pine Tree Motel
3,185,Geraldton,AU,70.21,clear sky,-28.7667,114.6000,Broadwater Mariner Resort

In [22]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp}Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
itinerary_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [23]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure()
itinerary_marker_layer = gmaps.marker_layer(locations, info_box_content=itinerary_info)
fig.add_layer(itinerary_marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))